root = true

[*]
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true

[*.php]
indent_size = 4
insert_final_newline = true

[*.xml]
indent_size = 2

[*.js]
indent_size = 2

[*.yml]
indent_size = 2
